.caret {
  margin-right: 5px;
  transition: transform 300ms;
}

.caret.rotate {
  transform: rotate(90deg);
}

.titleContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
}
