__pycache__/

python368/

venv/
service/venv/
service/app.build/
service/app.dist/
service/app.onefile-build/
*.exe
*.pyc
qlab
data.json
config.json
request.json
app-build
dist
Output

node_modules
.vagrant

msodbcsql.msi
