.navbar {
    height: 100%;
    background-color: var(--blue-dark);
    width: 70px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    flex: none;
    display: flex;
    flex-direction: column;
}

.navtoggle{
    height: 100%;
    background-color:var(--blue-dark);
    widows: 10px;
    display: block;
    flex: none;
}

.filler{
    height: 100%;
    width: 100%;
    overflow:hidden
}

.hide {
    display : none;
  }
   
.show {
    display: block;
}