.addActivityButton {
  width: 12px;
  height: 12px;
  margin: 5px;
}

.addActivityContainer {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menuItem {
  justify-content: center;
  height: 28px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  display: flex;
  font-size: 11px;
  white-space: nowrap;
}

.menuItem:hover {
  background-color: var(--blue-light);
}

.menuItem:active {
  font-weight: 700;
  color: var(--blue-300);
}

.closeAddActivityButton {
  background-color: white;
  color: #000;
}

.closeAddActivityButton:hover {
  background-color: #ccc;
}
